@import url('https://fonts.googleapis.com/css2?family=Abel&family=Baloo+2:wght@400..800&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sansita:ital,wght@0,400;0,700;0,800;0,900;1,400;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Annapurna+SIL:wght@400;700&family=Baloo+2:wght@400..800&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sansita:ital,wght@0,400;0,700;0,800;0,900;1,400;1,700;1,800;1,900&display=swap');


:root {
    --text-font1: "Baloo 2", sans-serif;
    --text-font2: "Annapurna SIL", serif;

    --color-darkwhite: rgba(228, 228, 228, 1);
    --color-lightblack: rgba(10, 10, 10, 1);
    --color-white: white;
    --color-black: black;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--color-darkwhite);
   
}

.wrapper {
    max-width: 1000vw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.header {
    background-image: url("../assets/photos/09-night.jpg");
    background-size: cover;
    background-position: 50%;
    height: 88vh;
    width: 100%;
    border-radius: 0px 0px 70px 70px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header__logo {
    transform: scale(0.35);
    
}

.header__burger {
    position: absolute;
    top: 1rem;
    left: 1rem;
    width: 2.5rem;
    display: none;
    cursor: pointer;
    transition: transform .5s;
}

.header__sign-in {
    position: absolute;
    top: 1rem;
    right: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
}

.header__sign-up {
    font-family: var(--text-font1);
    font-size: 20px;
    color: var(--color-white);
    cursor: pointer;
    transition: transform .5s;
}

.header__button {
    font-family: var(--text-font1);
    font-size: 20px;
    color: var(--color-white);
    background-color: transparent;
    border: solid 3px var(--color-white);
    border-radius: 10px;
    padding: .3rem 1rem;
    cursor: pointer;
    transition: transform .5s;
}

.header__burger:hover {
    transform: scale(1.1);
}

.header__sign-up:hover {
    transform: scale(1.2);
}

.header__button:hover {
    transform: scale(1.05);
}

.menu {
    background-color: var(--color-darkwhite);
    box-shadow: 0 5px 5px rgba(35, 35, 35, 0.2);
    width: 75%;
    
    /*place-self: center;*/
    display: flex;
    height: 4.5rem;
    justify-content: center;
    align-items: center;
    font-family: var(--text-font1);
    /*font-size: 24px;*/
    font-size: clamp(16px, 2vw, 24px);
}

.menu__link, .menu__link--selected {
    text-decoration: none;
    color: var(--color-black);
    /*padding: 1rem 3rem;*/
    padding: clamp(0.8rem, 4vw, 1.03rem) clamp(1.2rem, 3vw, 3rem);
    flex: 1; 
    text-align: center; 
    font-size: inherit;
    white-space: nowrap ;
}

.menu__link:hover {
    background-color: rgb(186, 186, 186);
}

.menu__link--selected {
    /*text-decoration: none;
    
    padding: 1rem 3rem;
    flex: 1; 
    text-align: center;*/
    color: var(--color-white);
    background-color: var(--color-lightblack);

}

.welcome-section {
    /*place-self: center;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    
    margin-top: 4rem;
    text-align: center;
    gap: 1rem;
}

.welcome-section__title {
    font-family: var(--text-font1);
    font-size: 40px;
    font-weight: 500;
}

.welcome-section__logo {
    width: 4rem;
    height: 4rem;
}

.welcome-section__text-web {
    font-family: var(--text-font2);
    margin-top: 1rem;
    width: 50%;
}

.welcome-section__text-mobile {
    font-family: var(--text-font2);
    margin-top: 1rem;
    font-size: 13px;
    display: none;
    width: 85%;
}

.room-section {
    background-color: var(--color-lightblack);
    width: 75%;
    border-radius: .5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 3rem 2rem 3rem 2rem;
    margin-top: 6rem;
}

.room-section__title {
    font-family: var(--text-font1);
    color: var(--color-white);
    font-weight: 400;
    font-size: 32px;
}

.room-section__text-web {
    font-family: var(--text-font2);
    color: var(--color-darkwhite);
    width: 75%;
    font-size: 15px;
}

.room-section__text-mobile {
    font-family: var(--text-font2);
    color: var(--color-darkwhite);
    width: 85%;
    font-size: 13px;
    display: none;
}

.room-section__images {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    margin-top: 3rem;
    margin-bottom: 3.5rem;
}

.room-section__img {
    width: 29%;
    height: 234px;
    object-fit: cover;
    border-radius: .5rem;
}

.room-section__button {
    font-family: var(--text-font1);
    font-size: 24px;
    padding: .2rem 2.5rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.3s;
}



.nature-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.nature-section__title {
    font-family: var(--text-font1);
    color: var(--color-black);
    font-weight: 400;
    font-size: 32px;
    margin-top: 6rem;
}

.nature-section__text-web {
    font-family: var(--text-font2);
    margin-top: .5rem;
    width: 55%;
}

.nature-section__text-mobile {
    font-family: var(--text-font2);
    color: var(--color-black);
    width: 85%;
    font-size: 13px;
    display: none;
}

.nature-section__gallery {
    margin: 3rem auto 3rem auto;
    width: 67%;
    height: 80%;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
}

.nature-section__img1 {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

.nature-section__img2 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.nature-section__img3 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.nature-section__img4 {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
}

.nature-section__gallery img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.nature-section__button {
    font-family: var(--text-font1);
    font-size: 24px;
    padding: .4rem 2.2rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background-color: var(--color-lightblack);
    color: var(--color-white);
    transition: transform 0.3s;
}

.room-section__button:hover,
.nature-section__button:hover {
    transform: scale(1.08);
}

.footer {
    display: flex;
    flex-direction: row;
    background-color: var(--color-lightblack);
    width: 100%;
    height: 25rem;
    justify-content: space-around;
    align-items: center;
    margin-top: 6rem;
}

.footer__adress, .footer__information, .footer__my-account {
    display: flex;
    flex-direction: column;
    color: var(--color-white);
    gap: 1rem;
}

.footer__link--adress::before {
    content:"";
    display: block;
    width: 20px;
    height: 20px;
    background: url("../assets/photos/location.svg") no-repeat;
    float: left;
    margin-right: .5rem;
}

.footer__link--adress {
    text-decoration: none;
    font-family: var(--text-font2);
    color: var(--color-white);
}

.footer__link--phone::before {
    content:"";
    display: block;
    width: 20px;
    height: 20px;
    background: url("../assets/photos/phone.svg") no-repeat;
    float: left;
    margin-right: .5rem;
}

.footer__link--phone {
    text-decoration: none;
    font-family: var(--text-font2);
    color: var(--color-white);
}

.footer__link--email::before {
    content:"";
    display: block;
    width: 20px;
    height: 20px;
    background: url("../assets/photos/mail.svg") no-repeat;
    float: left;
    margin-right: .5rem;
}

.footer__link--email {
    text-decoration: none;
    font-family: var(--text-font2);
    color: var(--color-white);
}

.footer__link {
    text-decoration: none;
    font-family: var(--text-font2);
    color: var(--color-white);
}

.footer__adress-title, .footer__information-title, .footer__my-account-title {
    font-family: var(--text-font1);
    font-weight: 300;
    font-size: 28px;
    margin-bottom: 1rem;
}



@media (max-width: 576px) {
    .header {
        height: 50vh;
        background-position: 50%;
    }

    .header__logo {
        transform: scale(0.16)
    }

    .header__burger {
        display: block;
    }

    .header__sign-in {
        gap: 1rem
    }
    
    .header__sign-up {
        font-size: 14px;
    }

    .header__button {
        font-size: 14px;
        border: solid 2px var(--color-white);
        border-radius: 10px;
        padding: .2rem 1rem;
        cursor: pointer;
    }

    .menu {
        display: none;
    }

    .welcome-section__title {
        font-size: 28px;
        white-space: nowrap;
    }

    .welcome-section__logo {
        width: 3rem;
        height: 3rem;
    }

    .welcome-section__text-mobile {
        display: block;
    }

    .welcome-section__text-web {
        display: none;
    }

    .room-section {
        width: 100%;
        border-radius: 0;
        margin-top: 4rem;
    }

    .room-section__title {
        font-size: 24px;
    }

    .room-section__text-mobile {
        display: block;
    }

    .room-section__text-web {
        display: none;
    }

    .room-section__images {
        align-items: center;
        gap: 2rem;
        flex-direction: column;
        margin-bottom: 3rem;
    }
    
    .room-section__img {
        width: 95%;
    }

    .room-section__button {
        font-size: 16px;
    }

    .nature-section__title {
        font-size: 24px;
        margin-top: 0;
    }

    .nature-section__text-mobile {
        display: block;
    }

    .nature-section__text-web {
        display: none;
    }

    .nature-section__gallery {
        width: 100%;
        height: 80%;
        gap: 1rem;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 10rem);
    }

    .nature-section__img1 {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }
    
    .nature-section__img2 {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }
    
    .nature-section__img3 {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }
    
    .nature-section__img4 {
        grid-column: 2 / 2;
        grid-row: 1 / 2;
    }

    .nature-section {
        padding: 3rem 2rem;
    }

    .nature-section__button {
        font-size: 16px;
    }

    .footer {
        margin-top: 0;
        height: 35rem;
        flex-direction: column;
        align-items: flex-start;
    }

    .footer__adress, .footer__information, .footer__my-account {
        padding-left: 3rem;
        
        gap: .5rem;
    }

    .footer__adress-title, .footer__information-title, .footer__my-account-title {
        font-size: 18px;
    }

    .footer__link--adress {
        font-size: 14px;
    }

    .footer__link--phone {
        font-size: 14px;
    }

    .footer__link--email {
        font-size: 14px;
    }

    .footer__link {
        font-size: 14px;
    }
}




/* ABOUT US */

.header-rooms {
    background-image: url("../assets/photos/03-night.jpg");
    background-size: cover;
    background-position: 50%;
    height: 88vh;
    width: 100%;
    border-radius: 0px 0px 70px 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header__burger {
    position: absolute;
    top: 1rem;
    left: 1rem;
    width: 2.5rem;
    display: none;
}

.header__logo-landscape {
    position: absolute;
    top: 1rem;
    left: 1rem;
    width: 13rem;
    display: block;
    cursor: pointer;
}

.header__title {
    font-size: 70px;
    font-family: var(--text-font1);
    color: var(--color-white);
    font-weight: 500;
}

.menu__link--selected2 {
    text-decoration: none;
    color: var(--color-black);
    padding: clamp(0.8rem, 4vw, 1.03rem) clamp(1.2rem, 3vw, 3rem);
    flex: 1; 
    text-align: center; 
    font-size: inherit;
    white-space: nowrap ;
    color: var(--color-white);
    background-color: var(--color-lightblack);
}

.room-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem;
    text-align: center;
    gap: 1rem;
}

.room-info__title {
    font-family: var(--text-font1);
    font-size: 40px;
    font-weight: 500;
    width: 75%;
}

.room-info__text-web {
    font-family: var(--text-font2);
    margin-top: 1rem;
    width: 50%;
}

.room-info__text-mobile {
    font-family: var(--text-font2);
    margin-top: 1rem;
    font-size: 13px;
    display: none;
    width: 85%;
}

.room-included-title {
    font-size: 32px;
    font-family: var(--text-font1);
    font-weight: 500;
    margin-top: 5rem;
}

.room-included {
    display: flex;
    gap: 3rem;
    margin-top: 3rem;
    width: 53%;
}

.room-included__left, .room-included__right {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 50%;
}

.room-included__left--leaf,
.room-included__left--energy,
.room-included__left--speaker,
.room-included__right--wifi,
.room-included__right--recycle,
.room-included__right--ai {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-family: var(--text-font1);
    font-weight: 600;
    gap: 1rem;
}

.room-included__left--leaf::before {
    content:"";
    display: block;
    min-width: 2.5rem;
    height: 2.5rem;
    background: url("../assets/photos/leaf.svg") no-repeat;
    float: left;
    margin-right: .5rem;
    
}

.room-included__left--energy::before {
    content:"";
    display: block;
    min-width: 2.5rem;
    height: 2.5rem;
    background: url("../assets/photos/energy.svg") no-repeat;
    float: left;
    margin-right: .5rem;
}

.room-included__left--speaker::before {
    content:"";
    display: block;
    min-width: 2.5rem;
    height: 2.5rem;
    background: url("../assets/photos/speaker.svg") no-repeat;
    float: left;
    margin-right: .5rem;
}

.room-included__right--wifi::before {
    content:"";
    display: block;
    min-width: 2.5rem;
    height: 2.5rem;
    background: url("../assets/photos/wifi.svg") no-repeat;
    float: left;
    margin-right: .5rem;
}

.room-included__right--wifi::before {
    content:"";
    display: block;
    min-width: 2.5rem;
    height: 2.5rem;
    background: url("../assets/photos/wifi.svg") no-repeat;
    float: left;
    margin-right: .5rem;
}

.room-included__right--recycle::before {
    content:"";
    display: block;
    min-width: 2.5rem;
    height: 2.5rem;
    background: url("../assets/photos/recycle.svg") no-repeat;
    float: left;
    margin-right: .5rem;
}

.room-included__right--ai::before {
    content:"";
    display: block;
    min-width: 2.5rem;
    height: 2.5rem;
    background: url("../assets/photos/ai.svg") no-repeat;
    float: left;
    margin-right: .5rem;
}

.room-gallery-title {
    font-size: 40px;
    font-family: var(--text-font1);
    font-weight: 500;
    margin-top: 6rem;
}

.room-gallery {
    display: grid;
    width: 75%;
    height: 80%;
    gap: 4rem;
    grid-template-columns: repeat(2, 1fr);
    
    margin-top: 4rem;
    
}



.room-gallery__room1 {
    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-image: url("../assets/photos/02-night.jpg");
    background-size: cover;
    background-position: center;
    background-position: 50%;
    border-radius: 8px;
    color: var(--color-white);
    font-family: var(--text-font1);
    font-size: 36px;
    cursor: pointer;
    transition: transform 0.2s;
}

.room-gallery__room2 {
    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-image: url("../assets/photos/04-night.jpg");
    background-size: cover;
    background-position: center;
    background-position: 50%;
    border-radius: 8px;
    color: var(--color-white);
    font-family: var(--text-font1);
    font-size: 36px;
    cursor: pointer;
    transition: transform 0.2s;
}

.room-gallery__room3 {
    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-image: url("../assets/photos/05-night.jpg");
    background-size: cover;
    background-position: center;
    background-position: 50%;
    border-radius: 8px;
    color: var(--color-white);
    font-family: var(--text-font1);
    font-size: 36px;
    cursor: pointer;
    transition: transform 0.2s;
}

.room-gallery__room4 {
    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-image: url("../assets/photos/01-night.jpg");
    background-size: cover;
    background-position: center;
    background-position: 50%;
    border-radius: 8px;
    color: var(--color-white);
    font-family: var(--text-font1);
    font-size: 36px;
    cursor: pointer;
    transition: transform 0.2s;
}

.room-gallery__room1:hover,
.room-gallery__room2:hover,
.room-gallery__room3:hover,
.room-gallery__room4:hover {
    transform: scale(1.01);
}

@media (max-width: 576px) {

    .header-rooms {
        height: 50vh;
    }
    
    .header__burger {
        display: block;
    }

    .header__logo-landscape {
        display: none;
    }

    .header__title {
        font-size: 48px;
    }

    .room-info__title {
        font-size: 28px;
    }

    .room-info__text-web {
        display: none;
    }

    .room-info__text-mobile {
        display: block;
    }

    .room-included-title {
        font-size: 20px;
    }

    .room-included {
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }

    .room-included__left, .room-included__right {
        width: fit-content;
    }

    .room-included__left--leaf,
    .room-included__left--energy,
    .room-included__left--speaker,
    .room-included__right--wifi,
    .room-included__right--recycle,
    .room-included__right--ai {
      font-size: 13px;
      white-space: nowrap;
}

.room-gallery-title {
    font-size: 24px;
    margin-top: 4rem;
}

.room-gallery {
    display: grid;
    width: 75%;
    height: 80%;
    gap: 2rem;
    grid-template-columns: repeat(1, 1fr);
    margin-top: 2rem;
    margin-bottom: 4rem;
}

    .room-gallery__room1,
    .room-gallery__room2,
    .room-gallery__room3,
    .room-gallery__room4 {
        font-size: 22px;
    }
}







